{{ $current_page := . }}

<div class="container-fluid docs">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 docs-sidebar">
      {{ partial "docs_sidebar.html" . }}
    </div>

    {{ if .Params.toc }}
    <div class="d-none d-xl-block col-xl-2 docs-toc">
      <ul class="nav toc-top">
        <li><a href="#" id="back_to_top" class="docs-toc-title">{{ i18n "on_this_page" }}</a></li>
      </ul>

      {{ .TableOfContents }}

      {{ partial "docs_toc_foot.html" . }}
    </div>
    {{ end }}

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 docs-content" role="main">

      <article class="article" itemscope itemtype="http://schema.org/Article">

        <div class="docs-article-container">
          <h1 itemprop="name">{{ .Title }}</h1>

          <div class="article-style" itemprop="articleBody">
            {{ .Content }}
          </div>    
 <br> {{ partial "tags.html" . }}
          {{ if site.Params.docs_section_pager }}
          <div class="article-widget">
            {{ partial "section_pager.html" . }}
          </div>
          {{ end }}
        </div>

       
     {{ if ne .Type "docs" }}
        {{ $related := site.RegularPages.Related . | first 5 }}
        {{ with $related }}
        <div class="article-widget">
          <div class="hr-light"></div>
          <h3>{{ i18n "related" }}</h3>
          <ul>
            {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
 
          </ul>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
       
        <div class="body-footer">
         
         <br>
         <p>Last Update : <span> {{ $.Lastmod.Format site.Params.date_format }}</span></p>
        </div>
            </article>

      {{ partial "site_footer.html" . }}

    </main>
  </div>
</div>
