/*************************************************
 *  Documentation layout
 **************************************************/

.docs-article-container {
  max-width: 100%;
}

/* Documentation: article footer. */

.docs .body-footer {
  border-top: 1px solid #e8e8e8;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, .75);
  
  
}

.docs .body-footer p {
  width:30%;
  font-weight:bold;
  
}
.docs .body-footer p span {
  
  background-color: $sta-primary;

  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 3px;
  padding: 2px 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  color:#000;
}

/* Docs content. */

.docs-content {
  order: 1;
  position: relative;
}

.docs-content>h2[id],
.docs-content>h3[id],
.docs-content>h4[id] {
  pointer-events: none;
}

.docs-content>ol li,
.docs-content>ul li {
  margin-bottom: .25rem;
}

/* Docs search. */

.docs-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.docs-search .form-control:focus {
  border-color: $sta-primary;
  box-shadow: 0 0 0 3px $sta-primary-light;
}

/* Docs sidebar. */



.docs-sidebar {
  order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1)
}

@media (min-width:768px) {
  .docs-sidebar {
    border-right: 1px solid rgba(0, 0, 0, .1)
  }
  @supports ((position:-webkit-sticky) or (position:sticky)) {
    .docs-sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 50px;
      z-index: 10;
      height: calc(100vh - 50px)
    }
  }
}

@media (min-width:1200px) {
  .docs-sidebar {
    border-right: 1px solid rgba(0, 0, 0, .1)
  }
  @supports ((position:-webkit-sticky) or (position:sticky)) {
    .docs-sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 70px;
      z-index: 10;
      height: calc(100vh - 70px)
    }
  }
}

@media (min-width:1200px) {
  .docs-sidebar {
    flex: 0 1 350px
  }
}

/* Docs sidebar li>a. */

.docs-sidebar .nav>li>a {
  display: block;
  padding: .25rem 1.5rem;
  font-size: .8rem;
  color: rgba(0, 0, 0, .75);
  /* main : sidebar  */
  
}

.docs-sidebar .nav>li>a:hover {
  
  text-decoration: none;
  color: $sta-primary;
}

.docs-sidebar .docs-toc-item.active a,
.docs-sidebar .nav>.active:hover>a,
.docs-sidebar .nav>.active>a {
  font-weight: bold;
  color: $sta-primary;
  background-color: transparent;
  margin-left: .5rem;
  background-color: #f5f5f5;
  border-left: .15rem solid #2A4B7C;
}

.docs-sidebar .nav>.active>a {
  background-color: #d8d8d8;
}

/* Docs links. */

.docs-toggle {
  line-height: 1;
  font-size: 1.2rem;
  color: $sta-primary;
  background-color: transparent;
}

.docs-links {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width:768px) {
  @supports ((position:-webkit-sticky) or (position:sticky)) {
    .docs-links {
      max-height: calc(100vh - 5rem - 70px);
      overflow-y: auto;
    }
  }
}

@media (min-width:768px) {
  .docs-links {
    display: block!important;
  }
}

/* Docs TOC. */

.docs-toc {
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .docs-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow-y: auto
  }
}

/* Docs TOC item links. */

.docs-toc-link {
  display: block;
  padding-left: .5rem;
 
  font-size: .8rem;
  color:#2A4B7C;
  font-weight: bold;
}

.docs-toc-link:hover {
  color: $sta-primary;
  text-decoration: none;
}



.docs-toc-item.active {
  margin-bottom: .5rem;
 
}

.docs-toc-item.active:not(:first-child) {
  margin-top: .5rem;
  
}

.docs-toc-item.active>.docs-toc-link {
  color: rgba(0, 0, 0, .45);
  padding-left: .5rem;
  
}

.docs-toc-item.active>.docs-toc-link:hover {
  background-color: transparent;
}

.docs-sidenav {
  display: block;
}

/* Docs TOC nav. */

.docs-toc-title {
  color: #b5b5b5;
  font-size: .8rem;
 
  
  padding-left: calc(1rem + 1px);
 
}

.dn {              display: none; }
.di {              display: inline; }
.db {              display: block; }

#TableOfContents {
  padding-left: .5rem;
  border-left: 1px solid #eee;
  
  
  
}

#TableOfContents ul,
ul.toc-top {
  padding-left: .5rem;
  font-weight: 400;
  
   
  
}

#TableOfContents ul ul {
  padding-left: 0.5rem;
  font-weight: 400;
}

#TableOfContents li {
  display: block;
  
  
}



#TableOfContents li a,
.toc-top li a {
  display: block;
  padding: .125rem .5rem;
  color: #99979c;
  font-size: 0.8rem;
}

#TableOfContents li a:hover,
.toc-top li a:hover {
  color: $sta-primary;
  text-decoration: none;
}

/* ScrollSpy active link style. */
#TableOfContents li a.active,
.toc-top li a:hover {
  color: $sta-primary;
  font-weight: 700;
  background-color: #f2f2f2;
  border-left: .15rem solid #2A4B7C;
}

/* Docs achnorjs links. */

.anchorjs-link {
  font-weight: 400;
  color: #2A4B7C;
  transition: color .16s linear;
}

.anchorjs-link:hover {
  color: $sta-primary;
  text-decoration: none;
}

.none {
  display: none;
}

.active {
  display: block;
}
.toc-contents {
  background-color: rgba(0, 128, 0, 0.08);
  border: 0.125rem solid rgb(0, 128, 0);
  border-radius: 15px;
  padding: 10px auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.toc-contents h2 {
  margin-left: 1em;
  color: #0f0f0f;
}

.toc-contents #TableOfContents li a {
  font-size: 1rem;
  color: #2A4B7C;
  
  text-decoration: none;
   

}

.toc-contents #TableOfContents li a:hover {
  color: $sta-primary;
  font-weight: bolder;
}