<div class="responsive-wrap">
  <iframe src="{{ .Get "src" }}" frameborder="0" width="100%" height="1200" margin-left="auto" margin-right="auto"
      allowfullscreen="true"
    mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>
</div>