{{ $ := .root }}
{{ $page := .page }}
  <div class="container-fluid"></div>
<div id = 'icons-short-cut' class="row featurette">
  {{ with $page.Title }}
  <div class="col-12 section-heading">
    <h1 id="heading">{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}

    {{ . | markdownify }}
  </div>
  {{ end }}

  {{ range $page.Params.feature }}
  {{ $pack := or .icon_pack "fas" }}
  {{ $pack_prefix := $pack }}
  {{ if in (slice "fab" "fas" "far" "fal") $pack }}
  {{ $pack_prefix = "fa" }}
  {{ end }}
  <div id= "catagorys" class="col-lg-3 col-sm-6 mb-4 mb-lg-2">
    <div class="position-relative py-2 shadow featurette-margin">
       {{- with .url}}<a href="{{.}}" rel="noopener">{{end -}}
      <div class="progress-bar" style="width:{{ .parcent }}"></div>
      {{ with .icon }}<div class="featurette-icon"><i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i>{{ end }}
      <h3>{{ .name | markdownify | emojify }}</h3>
    </div>
    
 <!--     {{ with .parcent }}<p>{{ . }}</p>{{ end }}  -->
    </div>
  </div>
  {{ end }}
</div>